$mainColor: #51A151;

/* ------ Global styles ----- */
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased !important;
    -moz-webkit-font-smoothing:antialiased !important;
}

body {
    font-family: "proxima-nova-soft", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* ------ Landing page & topo ----- */

.sobre {
    display: none;

    h2 {
        color: $mainColor;
        font-size: 24px;
        margin: 0;
    }

    p {
        color: #666;
        line-height: 150%;
        margin: 16px 0 48px 0;

        a {
            color: #666;
            font-weight: 700;
            border-bottom: 1px solid transparentize($mainColor, 0.5);
            transition: border-color 300ms;

            &:hover {
                border-color: $mainColor;
            }
        }
    }

    .creditos {
        text-align: center;
        font-size: 18px;
        color: $mainColor;
        font-weight: 700;

        i {
            font-size: 14px;
            color: #E32E2E;
        }

        a {
            color: $mainColor;
            border-bottom: 1px solid transparentize($mainColor, 0.4);
            transition: border-color 300ms;

            &:hover {
                border-color: $mainColor;
            }
        }

        .social {
            width: 184px;
            height: 40px;
            margin: 16px auto 0 auto;
            display: flex;
            justify-content: space-between;

            .social-a {
                width: 40px;
                height: 40px;
                display: block;
                background-color: #f9f9f9;
                float: left;
                border-radius: 50%;
                border: none;
                transition: opacity 300ms;

                &:hover {
                    opacity: 0.75;
                }

                i {
                    font-size: 18px;
                    line-height: 40px;
                    color: rgba(68, 68, 68, 0.6);
                }
            }
        }
    }
}

@media all and (min-width: 640px) {
    .sobre {
        width: 620px !important;
        padding: 48px !important;
    }
}

.landing-page {
    height: 100vh;
    background: $mainColor url(../../img/bg.png) center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;

    h1 {
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 36px;
        line-height: 100%;
        font-weight: 300;

        span {
            display: none;
        }
    }

    h2 {
        color: transparentize(#fff, 0.5);
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        margin: 12px 0 0 0;

        a {
            color: #fff;
            border-bottom: 1px solid transparentize(#000, 0.9);
            transition: border-color 300ms;

            &:hover {
                border-color: transparentize(#000, 0.6);
            }
        }
    }

    @media all and (min-width: 640px) {
        h1 {
            font-size: 48px;

            br {
                display: none;
            }

            span {
                display: inline;
            }
        }

        h2 {
            font-size: 20px;
        }
    }

    @media all and (min-width: 960px) {
        h1 {
            font-size: 64px;
        }

        h2 {
            font-size: 24px;
        }
    }

    .rola-mah {
        display: inline-block;
        color: #fff;
        font-weight: 700;
        background-color: #4AA3DF;
        padding: 16px 24px;
        border-radius: 6px;
        margin-top: 32px;
        font-size: 14px;
        border: 1px solid transparentize(#000, 0.87);
        transition: transform 200ms;

        &:hover {
            transform: scale(1.05);
        }
    }

    @media all and (min-width: 640px) {
        .rola-mah {
            font-size: 16px;
            padding: 20px 32px;
        }
    }

    .header-nav {
        width: 280px;
        height: 72px;
        line-height: 24px;
        padding: 24px;
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        .header-a {
            color: #fff;
            font-weight: 700;
            border-bottom: 2px solid transparent;
            transition: border-color 400ms;
            &:hover {
                border-color: transparentize(#000, 0.9);
            }
        }
    }

    @media all and (min-width: 640px) {
        .header-nav {
            width: 320px;
            height: 80px;
            line-height: 32px;

            .header-a {
                font-size: 18px;
            }
        }
    }
}

/* ------ Main & content ----- */

.main {
    padding: 0 5% 64px 5%;

    .ep {
        padding: 64px 0;
        text-align: center;
        border-bottom: 1px solid #eee;

        .ep-a {
            color: $mainColor;
            font-size: 32px;
            font-weight: 700;
        }

        .ep-h3 {
            font-size: 16px;
            font-weight: 500;
            color: #999;
            margin: 8px 0 0 0;
        }

        @media all and (min-width: 640px) {
            .ep-a {
                font-size: 48px;
            }

            .ep-h3 {
                font-size: 18px;
            }
        }

        .figure {
            width: 111.11111111%;
            height: 0;
            padding-bottom: 61.725694444%;
            margin: 24px 0 0 -5.5555555556%;
            overflow: hidden;
            position: relative;
        }

        .ep-notas {
            max-width: 470px;
            margin: 32px auto 0 auto;

            .ep-notas-para {
                background-color: $mainColor;
                color: #fff;
                font-size: 12px;
                padding: 4px 24px;
                border-radius: 29px;
            }

            .ep-notas-wrap {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;

                .ep-nota {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 20px;
                    color: #666;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #f9f9f9;
                    &.media, &.media span {
                        color: $mainColor;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: #999;
                        display: block;
                        margin-top: 16px;
                    }
                }
            }

            .ep-media-total {
                margin-top: 32px;
                color: $mainColor;
                font-size: 20px;

                strong {
                    font-size: 24px;
                }
            }
        }
    }
}

@media all and (min-width: 640px) {
    .main {
        max-width: 620px;
        margin: 0 auto;

        .ep {
            width: 100%;

            .figure {
                width: 100%;
                padding-bottom: 55.555555556%;
                margin: 24px 0 0 0;
                overflow: hidden;
                position: relative;
                border-radius: 6px;
            }
        }
    }
}

.footer {
    padding: 0 5% 32px 5%;
    text-align: center;
    font-size: 12px;
    color: #999;

    a {
        color: $mainColor;
        border-bottom: 1px solid transparentize($mainColor, 0.4);
        transition: border-color 300ms;

        &:hover {
            border-color: $mainColor;
        }
    }

    i {
        color: #df0125;
    }
}
