$mainColor: #51A151;

/* ------ Global styles ----- */

body {
    font-family: "proxima-nova-soft", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* ------ Landing page & topo ----- */

.landing-page {
    height: 100vh;
    background: $mainColor url(../../img/bg.png) center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;

    h1 {
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 36px;
        line-height: 100%;
        font-weight: 300;
    }

    h2 {
        color: transparentize(#fff, 0.6);
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        margin: 12px 0 0 0;

        a {
            color: #fff;
            border-bottom: 1px solid transparentize(#000, 0.9);
        }
    }

    .rola-mah {
        display: inline-block;
        color: #fff;
        font-weight: 700;
        background-color: #4AA3DF;
        padding: 16px 24px;
        // padding: 20px 32px;
        border-radius: 6px;
        margin-top: 32px;
        font-size: 14px;
        border: 1px solid transparentize(#000, 0.87);
    }

    .header-menu {
        height: 24px;
        padding: 8px;
        float: right;
        text-align: center;
        font-size: 20px;
        position: absolute;
        right: 16px;
        top: 16px;
        text-align: center;
        display: table;
        color: #fff;

        i {
            height: 24px;
            display: table-cell;
            vertical-align: middle;
        }
    }
}

/* ------ Main & content ----- */

.main {
    padding: 32px 5%;

    .ep {
        padding: 32px 0;
        text-align: center;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }

        .ep-a {
            color: $mainColor;
            font-size: 32px;
            font-weight: 700;
        }

        .ep-h3 {
            font-size: 16px;
            font-weight: 500;
            color: #999;
            margin: 8px 0 0 0;
        }

        .figure {
            width: 111.11111111%;
            height: 0;
            padding-bottom: 61.725694444%;
            margin: 24px 0 0 -5.5555555556%;
            overflow: hidden;
            position: relative;
        }

        .ep-notas {
            margin-top: 32px;

            .ep-notas-para {
                background-color: $mainColor;
                color: #fff;
                font-size: 12px;
                padding: 4px 24px;
                border-radius: 29px;
            }

            .ep-notas-wrap {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;

                .ep-nota {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 20px;
                    color: #666;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #f9f9f9;
                    &.media, &.media span {
                        color: $mainColor;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: #999;
                    }
                }
            }

            .ep-media-total {
                margin-top: 24px;
                color: $mainColor;
                font-size: 18px;

                strong {
                    font-size: 24px;
                }
            }
        }
    }
}
